@font-face {
  font-family: 'panama';
  src: url("./fonts/panama-bold-webfont.woff2") format("woff2"), url("./fonts/panama-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
    background: #FFFFFF;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    color: #000 !important;
    font-size: 13px;
    text-indent: 0px;
    padding-top: 80px;
}

.navbar-dark {
  background: linear-gradient(90deg,#1E3C72,#2A5298);
  font-family: panama;
}

a {
  color: #1E3C72;
}

a:hover {
  color: #FF851B;
  text-decoration: none;
}


a:visited {
  text-decoration: none;
}


.navbar-brand {
  color: #FFF !important;
  font-family: "Panama";
  letter-spacing: -1px;
  word-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  text-indent: 0px;
}

.navbar {
  margin-bottom: 0;
}


.nav-link__color {
  color: #FFF !important;
  font-size: 14px;
  font-family: 'Nunito';
  letter-spacing: 2px;
}

.form-signin {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.btn-green {
  background-color: #2ECC40;
  color: #000000 !important;
  font-size: 14px;
  font-family: 'Nunito';
  letter-spacing: 2px;
}


.btn-yellow {
  background-color: #FF851B;
  color: #000000 !important;
  font-size: 15px;
  font-family: 'Nunito';
  letter-spacing: 2px;
}


.form-link {
  font-size: 13px;
  letter-spacing: 0.3px;
}


.jumbotron-started {
  background: #FFFFFF url('./images/bg.jpg') no-repeat;
  padding-top: 100px;
  margin-top: -35px;
}

.jumbotron-text {
  font-size: 16px;
  color: hsl(0,0%,29%);
  word-spacing: 1px;
  letter-spacing: 1px;
  text-align: justify;
}

.jumbotron-head {
  color: hsl(0,0%,13%);
  font-weight: 700;
  font-size: 35px;
  color: #1E3C72;
}

.form-agreement-text {
  font-size: 14px;
  font-family: 'Nunito';
  color: hsl(0,0%,29%);
}

.btn-jumbotron {
  font-size: 18px;
}

.btn-download-jumbotron {
  font-size: 14px;
  font-family: 'Nunito';
  letter-spacing: 2px;
  background-color: #000000;
  color: #FFFFFF !important;
  border: 0px;
  box-shadow: 0 2px 6px 0;
}

.btn-download-jumbotron:hover{
background-color: #000000;
}

